<section class="cart-section section-b-space">
  <div class="container">
     <div class="theme-tab">
        <ul class="tabs tab-title">
          <li class="current">
            <%= link_to "New order", "tab-4" %>
          </li>
          <li>
            <%= link_to "Delivering", "tab-5" %>
          </li>
          <li>
            <%= link_to "Shiped", "tab-6" %>
          </li>
        </ul>
        <div class="tab-content-cls">
          <div id="tab-4" class="tab-content active default">
            <%= render "new_order" %>
          </div>
          <div id="tab-5" class="tab-content">
            <tbody>
              <% if @order_shipping %>
                <%= render "deliverling", orders: @order_shipping %>
              <% end %>
            </tbody>
            </tbody>
          </div>
          <div id="tab-6" class="tab-content">
            <tbody>
              <% if @order_checked %>
                <%= render "deliverling", orders: @order_checked %>
              <% end %>
            </tbody>
          </div>
        </div>
      </div>
  </div>
</section>
